/* Limpar Formatações */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 { 
    font-size: 40px;
    position: absolute; 
    top: 15%; left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    padding: 10px;
}

p {
    position: absolute; 
    top: 51%; left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    padding: 10px; 
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: black;
    color: #333;
}

header {
    background-color: rgb(15, 48, 82);
    padding: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: white;
    color: rgb(15, 48, 82);
    padding: 0.5rem;
}

main {
    padding: 2rem;
    text-align: center;
}

img { 
    width: 100%; 
    height: auto;
} 

.container h1 { 
    position: absolute; 
    top: 51%; left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    padding: 10px; 
    font-size: 60px;
    }
    
.secao {
    display: none;
}

.ativa {
    display: block;
}

#contato {
        position: absolute; 
        top: 25%; left: 50%; 
        transform: translate(-50%, -50%); 
        color: white; 
        padding: 60px;
        background-color: rgba(0, 0, 0, 0.5);  
}

#portfolio a {
        position: absolute; 
        top: 60%; left: 50%; 
        transform: translate(-50%, -50%); 
        color: white; 
        padding: 60px;
}

#portfolio a:hover {
        background-color: white;
        color: rgb(15, 48, 82);
        padding: 0.5rem; 
}

footer {
    background-color: rgb(15, 48, 82);
    color: white;
    text-align: center;
    padding: 1rem;
}
